.contact {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: auto;
  position: relative;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
