.contact {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: auto;
  position: relative;
}

.contactInfo {
  width: 80%;
}

.name {
  display: block;
}

.number {
  font-size: 16px;
  margin-left: 5px;
  color: blue;
}
