.navbar {
  display: flex;
  width: 100%;
  padding: 10px 40px;
  justify-content: space-between;
  color: black;
  border-bottom: 1px solid black;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.buttons {
  display: flex;
  width: 200px;
  gap: 0 25px;
}
