.app {
  display: block;
  max-width: 800px;
  margin: 100px auto;
  border: 2px solid black;
  box-shadow: inset #009688 0 0 0 5px, inset #059c8e 0 0 0 1px,
    inset #0cab9c 0 0 0 10px, inset #1fbdae 0 0 0 11px, inset #8ce9ff 0 0 0 16px,
    inset #48e4d6 0 0 0 17px, inset #e5f9f7 0 0 0 21px, inset #bfecf7 0 0 0 22px;
  padding: 75px;
}

.app > h1 {
  text-align: center;
}
