.register {
  width: 500px;
  margin: 0 auto;
  margin-top: 75px;
  border: 15px solid;
  padding: 50px;
  border-image: linear-gradient(45deg, blue, red) 1;
}

.register h1 {
  text-align: center;
}
