.login {
  width: 500px;
  margin: 0 auto;
  margin-top: 75px;
  border: 12px solid;
  padding: 30px;
  border-image: linear-gradient(45deg, turquoise, rgb(146, 226, 26)) 1;
  border-radius: 20px;
}

.login h1 {
  text-align: center;
}
